<table class="employee-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>phone</th>
        <th>username </th>
        <th>website</th>
        <th>city</th>
        <th>Action</th>
      </tr>

 
     

    </thead>
    <tbody>
      <!-- Add your table rows here -->
    @for(data of employees | slice:start:end ; track data.id ; let num = $index){
      <tr>
        <td>{{num + 1}}</td>
        <td>{{data.name | uppercase}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.username}}</td>
        <td>{{data.website}}</td>
        <td>{{data.address.city}}</td>
        <td><button>Edit</button> <button>Delete</button></td>
      </tr>
      
    }
    @empty{
      <p>NO RECORD FOUND</p>
    }
   

     
    </tbody>
  </table>
  