<table class="employee-table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Age</th>
        <th>Date of Joining</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Add your table rows here -->
      <tr>
        <td>Yous Toe</td>
        <td>20</td>
        <td>2022-05-15</td>
        <td>Development</td>
        <td>$6000</td>
        <td><button>Edit</button> <button>Delete</button></td>
      </tr>

      <tr>
        <td>Posh Tie</td>
        <td>45</td>
        <td>2023-07-15</td>
        <td>Development</td>
        <td>$5000</td>
        <td><button>Edit</button> <button>Delete</button></td>
      </tr>


      <tr>
        <td>Quest Tist</td>
        <td>43</td>
        <td>2020-08-25</td>
        <td>Sales</td>
        <td>$4000</td>
        <td><button>Edit</button> <button>Delete</button></td>
      </tr>
    </tbody>
  </table>
  