section{
    background-color: #333;
    padding: 20px;
    color: #fff;
    border-radius: 10px;

    li{
        padding:5px
    }
}

button{
    background-color: #333;
    padding: 16px;
    color: #fff;
    font-size:16px;
    border-radius: 10px;
    border: none;

    &:disabled{
        background-color: #D3D3D3;

    }

}

input{
    margin-top: 20px;
    padding:15px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    width: 200px;
    outline: none;
    background-color: #D3D3D3;
}

