
section{
    background-color: #333;
    padding: 1rem;
    color: #fff;
    border-radius: .5rem;

    li{
        padding:5px
    }
}

button{
    background-color: #333;
    padding: .8rem;
    color: #fff;
    font-size:16px;
    border-radius: .3rem;
    border: none;

    &:disabled{
        background-color: #D3D3D3;

    }

}

input{
    margin-top: .5rem;
    padding:1rem;
    font-size: 14px;
    border: none;
    border-radius: .2rem;
    width: 20rem;
    outline: none;
    background-color: #D3D3D3;
}

h3{
    text-decoration: underline;
}

span{
    margin-left: 1rem;
}

.green-bg{
    background-color: rgb(159, 228, 159)
}
.yellow-text{
    color: yellow;
}
.blue-text{
    color: blue;
}
.purple-text{
    color: purple;
}

.div-box{
    
    border-radius: 5px;
    width: 21rem;
    padding:1%;
    margin-top:1%;
}

.container{
    background-color:#333;
    border-radius: 5px;
    width: 21rem;
    padding:1%;
    margin-top:1%;

    &.text{
        color: white;
    }
}

p{
    &.first-ele{
        color: rgb(205, 195, 0);
    }
    &.last-ele{
        color: pink;
    }
    &.even-ele{
        color:blue;

    }
    &.odd-ele{
        color: purple;
    }
}


