<!-- <div>
        @if(mainComponent){
                <app-employees></app-employees>
        }@else if(secondaryComponent){
                <p>Else if Paragraph Running !</p>
        }@else{
                <p>Else paragraph Running !</p>
        }
</div> -->

<!--
     we can also use 'app-employees' as class . we just have to do some slight changes.
     CHANGES ARE :
        we have to add class keyword in div here . eg : <div class="app-employees"></div>

        we have to do changes in employess.components.ts file also
        changes are:

        @Component({
        selector: '.app-employees',
        standalone: true,
        imports: [],
        templateUrl: './employees.component.html',
        styleUrl: './employees.component.scss'
        }) 
    
-->

<div class="Main-app">
  <app-main-header
    [headerLogo]="logoTitle"
    (language)="getLang($event)"
  ></app-main-header>

  <app-add-employee-form></app-add-employee-form>

  <section class="search_section">
  <input  type="text" (input)="searchEmployee($event)" placeholder="Search employee"/>
</section>

  <app-table [employees]="filteredData"></app-table>
  
  <app-main-footer></app-main-footer>
</div>
